@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.otp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

input {
    text-align: center;
}

input:focus {
    border: 2px solid blueviolet;
}