.cell {
  border: 1px solid black;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.selected {
  background-color: rgb(94, 136, 234);
}

body {
    user-select: none;
}